[Desktop Entry]
Name = Password Generator
Version = 1.0
Exec = /home/yourname/Documents/Programming/mnemonic-password-generator/generator.py
Icon = /home/yourname/Documents/Programming/mnemonic-password-generator/icon.ico
Type = Application
